.task {
    &__block {
        width: 552px;
        height: 250px;
        margin-bottom: 30px;
        background: #FFFFFF;
        box-shadow: 0px 4px 15px rgba(50, 20, 61, 0.05);
        border-radius: 10px;
        padding: 30px;
        &:last-child {
            margin-right: 0;
        }
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
    }
    &__title {
        font-weight: 700;
        font-size: 20px;
        line-height: 30px;
        color: #2B282D;
    }
    &__description {
        margin-top: 15px;
        font-size: 15px;
        line-height: 22px;
        color: #2B282D;
        height: 69px;
        margin-bottom: 30px;
    }
    &__type {
        padding: 10px 30px 10px 30px;
        border-radius: 30px;
        font-size: 15px;
        line-height: 22px;
        color: #FFFFFF;
        display: inline-block;
    }
    &__row {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 492px;
    }
    &__heading {
        margin-bottom: 20px; 
    }
}